<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drbite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- MainActivity as the launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- BMI activity -->
        <activity
            android:name=".BMIactivity"
            android:exported="false" />

        <!-- Current status activity -->
        <activity
            android:name=".CurrentStatusActivity"
            android:exported="false" />

        <!-- Progress activity -->
        <activity
            android:name=".ProgressActivity"
            android:exported="false" />

        <!-- Data activity -->
        <activity
            android:name=".dataActivity"
            android:exported="false" />

        <!-- Signup activity -->
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <!-- Signin activity -->
        <activity
            android:name=".SignInActivity"
            android:exported="false" />

    </application>
</manifest>
